body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .formContainer {
    width: 45%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .textarea {
    height: 100px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: darkpurple;
  }
  
  .recipePreview {
    width: 45%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipeTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipeDetails {
    color: gray;
    margin-bottom: 20px;
  }
  
  .ingredients,
  .instructions {
    margin-bottom: 20px;
  }
  
  .author {
    font-style: italic;
  }
  
  .listItem {
    list-style-type: disc;
    margin-left: 20px;
  }
  